name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            "-Dsonar.projectKey=Denwien_python-project-52"
            "-Dsonar.organization=denwien"
            "-Dsonar.sources=."
            "-Dsonar.exclusions=**/venv/**,
            **/migrations/**,
            **/__pycache__/**,
            **/tests/**,
            **/db.sqlite3"
